
#contador{
    text-align: center;
    margin-top: 40px;
}

#tabuleiro {
    width: 318px;
    margin: auto;
    margin-top: 10px;
}

.posição{
    width: 100px;
    height: 70px;
    border: solid 2px #000;
    float: left;
    text-align: center;
    padding-top: 30px;
    background-color: #fff;
}
.posição img {
    width: 50px;
}